<div class = "container">

<div class="form">
    <div class="welcome">
    BARGE STATUS  of <%= current_user.barge_name %>
  </div>

<%= simple_form_for (@position)  do |f| %>


  <div class= "trip">
     <div class="trip-text">
      Tripnumber
    </div>
  <div class="trip-field">
    <%= f.input :tripnumber, label: false, placeholder: 'enter here' %></div>
    </div>
  <div class= "activity">
    <div class="activity-text">
      Activity
    </div>
    <div class="activity-field">
      <%= f.input :activity, label: false, collection: [['Sailing to loadport, expected arrival', 'Sailing to loadport, expected arrival'], ['Sailing to discharge port, expected arrival', 'Sailing to discharge port, expected arrival'],
      ['Loading untill', 'Loading untill'], ['Discharging untill', 'Discharging untill'], ['Waiting for loading, expect to start', 'Waiting for loading, expect to start'], ['Waiting for discharge, expect to start', 'Waiting for discharge, expect to start']] %>
    </div>
  </div>
  <div class="date">
    <div class="date-text">
      Date
    </div>
    <div class="date-field">
      <%= f.date_field :date, discard_year: true,  class: 'form-control' %>
    </div>
  </div>
  <div class="time">
    <div class="time-text">
      Time
    </div>
<!--     <i class="far fa-clock fa-2x"style=color:#0C5755></i>
 -->    <div class="time-field">
      <%=
      f.time_field :time,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss'
      %>
    </div>
    </div>
   <%= f.submit "Send update", class: "submit"%>

  </div>


  <% end %>
</div>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

