<div class = "container">
<div class="row">
<div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="welcome">
        <div class="out">
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete%> </div>
  <div class= "welcome-text">
    Welcome <%= current_user.barge_name %>
  </div>
  <p>Enter your barge status</p>
</div>
<div class="form-behind">
<div class="form">
<%= simple_form_for (@position)  do |f| %>


  <div class= "trip">
     <div class="trip-text">
      Tripnumber
    </div>
  <div class="trip-field">
    <%= f.input :tripnumber, label: false, placeholder: 'enter here' %></div>
    </div>
  <div class= "activity">
    <div class="activity-text">
      Activity
    </div>
    <div class="activity-field">
      <%= f.input :activity, label: false, collection: [['Sailing to loadport, expected arrival', 'Sailing to loadport, expected arrival'], ['Sailing to discharge port, expected arrival', 'Sailing to discharge port, expected arrival'],
      ['Loading untill', 'Loading untill'], ['Discharging untill', 'Discharging untill'], ['Waiting for loading, expect to start', 'Waiting for loading, expect to start'], ['Waiting for discharge, expect to start', 'Waiting for discharge, expect to start']] %>
    </div>
  </div>
  <div class="date">
    <div class="date-text">
      Date
    </div>
    <div class="date-field">
      <%= f.date_field :date, discard_year: true,  class: 'form-control' %>
    </div>
  </div>
  <div class="time">
    <div class="time-text">
      Time
    </div>
   <div class="time-field">
      <%=
      f.time_field :time,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss'
      %>
    </div>
    </div>
    <div class="buttons">

    <div>
   <%= f.submit "Send update", class: "submit"%>
    </div>
  </div>
  </div>
  </div>

  <% end %>
</div>
</div>
</div>
