<div class = "container">

  <div class="header1">
    <h1>Enter barge status</h1>
  </div>

<%= current_user.barge_name %>

<div class="form">
  <%= simple_form_for '', method: :get do |f| %>

  <div class= "activity">
    <div class="activity-text">
      Activity
    </div>
    <div class="activity-field">
      <%= f.input :activity, label: false, collection: [['Sailing to loadport, expected arrival', 'Sailing to loadport, expected arrival'], ['Sailing to discharge port, expected arrival', 'Sailing to discharge port, expected arrival'],
      ['Loading untill', 'Loading untill'], ['Discharging untill', 'Discharging untill'], ['Waiting for loading, expect to start', 'Waiting for loading, expect to start'], ['Waiting for discharge, expect to start', 'Waiting for discharge, expect to start']] %>
    </div>
  </div>
  <div class="date">
    <div class="date-text">
      Date
    </div>
    <div class="date-field">
      <%= f.date_field :matriculation_date, class: 'form-control' %>
    </div>
  </div>
  <div class="time">
    <div class="time-text">
      Time
    </div>
    <div class="time-field">
      <%=
      f.time_field :recieved,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss'
      %>
    </div>
    </div>
  </div>
    <%= mail_to "sebastiaan.kosman@shell.com", 'Send update', class: "submit" %>
  <% end %>
</div>

<div class="linkto">
<%= link_to "Log out", "/users/sign_out", method: :delete%>
<%= link_to "Become a member", "/users/sign_up"%>
</div>
